#content-wrapper .content{
  width: 960px;
  background-color: #B2D5EF;
  margin-top: -21px;
}

.delivery{
  padding-left: 7%;
}

#map{
  border: 3px solid #000033;
  border-radius: 10px;
  margin-left: 100px;
}
